#contatos {
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------------- Title Section -------------------------- */

.container_title_contatos {
  width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  margin-bottom: 3%;
}

.title_contatos {
  font-size: 2.5rem;
  color: var(--terciary-color);
  margin: 0%;
}

.container_subtitle_contatos {
  width: 95%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.img_phone_title_contatos {
  width: 13%;
  margin-right: 5%;
}

.subtitle_contatos {
  color: var(--subtitle-color);
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
}

/*----------------- Card section ---------------------------*/

.card_contatos {
  width: 60%;
  border-radius: 20px;
  padding: 2%;
  background-color: var(--quaternary-color);
  box-shadow: 0.5px 1px 2px var(--shadow-card-color);
  border: solid 1px #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

.container_title_card_contatos{
  width: 100%;
  align-items: self-start;
}

.title_card_contatos {
  color: var(--terciary-color);
  font-size: 200%;
  padding: 0;
  margin: 0;
}

.line_contatos {
  background-color: var(--terciary-color);
  border-radius: 20px;
  width: 15%;
  padding: 0;
  margin: 0;
  padding: 0.3% 0%;
}

.content_card_contatos {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_options_contatos {
  width: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_text_options_contatos {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 4%;
}

.icons_contatos {
  width: 8%;
  margin-right: 2%;
}

.text_contatos {
  color: var(--terciary-color);
  font-size: 1rem;
  padding: 0%;
  margin: 0%;
}

.container_map_contatos {
  width: 60%;
}

.mapa{
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 2px 4px var(--shadow-card-color);

}

/*----------------- Short Card section ---------------------------*/
.short_card_contatos {
  background-color: var(--quaternary-color);
  box-shadow: 0.5px 1px 2px var(--shadow-card-color);
  border: solid 1px #d8d8d8;
  width: 23%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.7% 0%;
  border-radius: 12px;
  margin-top: 1%;
}

.link_redes_sociais {
  padding: 0%;
  margin: 0%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_short_card_contatos {
  width: 70%;
  padding: 0%;
  margin: 0%;
}

/*-------------- Action Area ------------------*/

.container_button_contatos {
  width: 60%;
  margin-top: 2%;
  background-color: var(--quaternary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0.5px 1px 2px var(--shadow-card-color);
}

.title_button_contatos {
  font-family: var(--font-family);
  color:  var(--secondary-color);
  font-weight: 600;
  font-size: 1.2rem;
  margin: 2% 2%;
}

.button_contatos {
  width: 30%;
  padding: 1% 0%;
  margin-right: 1%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  font-family: var(--font-family);
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 1px 1px 5px var(--shadow-color);
}